/* ==========================================================================
Footer
========================================================================== */

$white-color: #fff;
$black: #000000;

.footer {
  background-color: $black;
  color: rgba($white-color, 0.7);

  a {
    text-decoration: none;
    color: rgba($white-color, 0.7);
  }

  .column li a:hover {
    color: #0f7c67;
  }

  h5 {
    color: $white-color;
  }

  .footer-block {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 40px 0 30px;
    position: relative;

    .footer-right {
      .column {
        width: 28%;
      }
    }

    .column {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
