/* ==========================================================================
Header
========================================================================== */
.header{
  .heading-txt {
    text-align: center;
    font-family: "Playfair Display", serif;
    color: rgb(255, 234, 234);
    font-size: 47.78px;
    font-weight: bold;
    line-height: 1.6;
  }
}
