/* ==========================================================================
Header
========================================================================== */

$green: #198754;

.header-logo {
  height: 80px;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: 98px;
}

.nav-link {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem;
}

.header {
  .header-logo {
    .brand-logo {
      height: 80px;
    }
  }

  .header-user {
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding-left: 150px;
  }

  .btn {
    border-radius: 100%;
    .btn-success {
      bottom: -7px;
    }
  }
  .dropdown {
    position: relative;
    bottom: -7px;
  }
  .dropdown-toggle::after {
    content: none;
  }
  .link-cart {
    font-size: 35px;
    color: $green;
  }
}

.input-group {
  opacity: 0.5;
  width: 1050px;
  margin-left: 100px;
  position: relative;
  top: 10px;
  z-index: 1;
  #basic-addon1 {
    border-radius: 0 20px 20px 0;
  }

  .form-control {
    border-radius: 20px;
    font-weight: bold;
  }
}

.input-group:hover {
  opacity: 100%;
}

#carouselControls {
  position: relative;
  top: -40px;
}
.section-header {
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  .section-title {
    text-transform: uppercase;
  }
}
